/*============================================================================================*/


/* Your custom styles below */


/*============================================================================================*/

/* Generic classes */

.fp-responsive .fp-section, .fp-responsive .fp-slide, .fp-responsive .fp-tableCell {
    height: auto !important;
}

.padding-10 {
    padding: 10px;
}

.no-margin-padding {
    padding: 0;
    margin: 0;
}

.question-container {
    min-height: 100vh;
    /* background-color: #ebf0f6 */
}

.question-container .row {
    margin: 0px;
}
.question-container .lhs-container {
    background-color: #F60;
    /* min-height: 460px; */
    color: #fff;
    text-align: center;
    height: 100vh;
    position: relative;
}

.question-container .lhs-container .lhs-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: 50%;
    padding: 20px;
}

.question-container .rhs-container {
    padding: 50px;
}

@media (max-width: 576px) {
    .question-container .rhs-container {
        padding: 10px;
    }
    .question-container .lhs-container {
        height: 50vh;
    }
    .question-container .lhs-container .lhs-content {
        height: 100%;
    }
    .question-container .lhs-container .lhs-content img{
        width: 30vw;
    }
}

@media (max-width: 768px) {}

@media (max-width: 992px) {}

@media (max-width: 1200px) {}