#app-container {
    position: relative;
    max-width: 100vw;
}

.header {
    height: 10vh;
}

.header .logo-image {
    /* width: 110px; */
    height: 6vh;
}


/* .footer-container {
    position: absolute;
    width: 100%;
    bottom: 0;
} */

.footer-container a {
    color: #777;
    text-decoration: none;
    margin-right: 15px;
}

.footer-container a:after {
    content: "|";
    font-weight: 300;
    position: relative;
    left: 9px;
}

.footer-container a:last-child:after {
    content: "";
}

@media only screen and (min-width: 768px) {
    .footer-container .name-container {
        text-align: left;
    }
    .footer-container .links-container {
        text-align: right;
    }
}

@media only screen and (max-width: 768px) {
    .footer-container .name-container {
        text-align: center;
        margin-bottom: 10px;
    }
    .footer-container .links-container {
        text-align: center;
        padding: 0px;
    }
}