<div class="question-container no-margin-padding">
    <div class="row">
        <div class="col-md-4 no-margin-padding lhs-container">
            <div class="lhs-content">
                <img src="./assets/img/registration_bg.svg" alt="">
                <h2>Kitchen Layout</h2>
                <p>The Kitchen layout is the structure of the kitchen. You can choose it based on the type of kitchen you need
                    in the room. </p>
            </div>
        </div>
        <div class="col-md-8 rhs-container">
            <div class="row">
                <div>1/4</div>
                <div>Please choose your kitchen layout</div>
            </div>

            <div class="row">
                <div class="padding-10 text-center col-xs-6 col-sm-6 col-md-6 col-lg-3">
                    <span *ngIf="showError" class="error">{{message}}</span>
                    <div class="layout-example">
                        <div class="layout-example-title">
                            U Shape Kitchen
                        </div>
                        <img class="layout-example-image" src="./assets/img/layouts/U.jpeg" alt="">
                        <div class="layout-example-description hidden-xs">
                            The kitchen layout is the shape that is made by the arrangement of the countertop, major appliances and storage areas.
                        </div>
                        <div *ngIf="showTick(1)" class="layout-selected">
                            <i class="far fa-4x fa-check-circle selected-icon"></i>
                        </div>
                        <div *ngIf="!showTick(1)" class="layout-example-overlay">
                            <input type="hidden" name="kitchenType" [(ngModel)]="radioData" id="kitchenType1" [value]="1">
                            <div class="layout-example-overlay-inner">
                                <h4>U Shape Kitchen</h4>
                                <p class="btn_1 white" (click)="selectRadio(1);">Select</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="padding-10 text-center col-xs-6 col-sm-6 col-md-6 col-lg-3">
                    <div class="layout-example">
                        <div class="layout-example-title">
                            L Shape Kitchen
                        </div>
                        <img class="layout-example-image" src="./assets/img/layouts/L.jpeg" alt="">
                        <div class="layout-example-description hidden-xs">
                            The kitchen layout is the shape that is made by the arrangement of the countertop, major appliances and storage areas.
                        </div>
                        <div *ngIf="showTick(2)" class="layout-selected">
                            <i class="far fa-4x fa-check-circle selected-icon"></i>
                        </div>
                        <div *ngIf="!showTick(2)" class="layout-example-overlay">
                            <input type="hidden" name="kitchenType" [(ngModel)]="radioData" id="kitchenType2" [value]="2">
                            <div class="layout-example-overlay-inner">
                                <h4>L Shape Kitchen</h4>
                                <p class="btn_1 white" (click)="selectRadio(2);">Select</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="padding-10 text-center col-xs-6 col-sm-6 col-md-6 col-lg-3">
                    <div class="layout-example">
                        <div class="layout-example-title">
                            Straight Kitchen
                        </div>
                        <img class="layout-example-image" src="./assets/img/layouts/Straight.jpeg" alt="">
                        <div class="layout-example-description hidden-xs">
                            The kitchen layout is the shape that is made by the arrangement of the countertop, major appliances and storage areas.
                        </div>
                        <div *ngIf="showTick(3)" class="layout-selected">
                            <i class="far fa-4x fa-check-circle selected-icon"></i>
                        </div>
                        <div *ngIf="!showTick(3)" class="layout-example-overlay">
                            <input type="hidden" name="kitchenType" [(ngModel)]="radioData" id="kitchenType3" [value]="3">
                            <div class="layout-example-overlay-inner">
                                <h4>Straight Kitchen</h4>
                                <p class="btn_1 white" (click)="selectRadio(3);">Select</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="padding-10 text-center col-xs-6 col-sm-6 col-md-6 col-lg-3">
                    <div class="layout-example">
                        <div class="layout-example-title">
                            Parallel Kitchen
                        </div>
                        <img class="layout-example-image" src="./assets/img/layouts/Parallel.jpeg" alt="">
                        <div class="layout-example-description hidden-xs">
                            The kitchen layout is the shape that is made by the arrangement of the countertop, major appliances and storage areas.
                        </div>
                        <div *ngIf="showTick(4)" class="layout-selected">
                            <i class="far fa-4x fa-check-circle selected-icon"></i>
                        </div>
                        <div *ngIf="!showTick(4)" class="layout-example-overlay">
                            <input type="hidden" name="kitchenType" [(ngModel)]="radioData" id="kitchenType4" [value]="4">
                            <div class="layout-example-overlay-inner">
                                <h4>Parallel Kitchen</h4>
                                <p class="btn_1 white" (click)="selectRadio(4);">Select</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /row -->

            <div id="bottom-wizard">
                <div class="col-sm-8"></div>
                <div class="col-sm-4" style="align-items: inherit">
                    <button type="button" name="forward" class="forward" (click)="getImage();">Next</button>
                </div>
            </div>
            <!-- /bottom-wizard -->
        </div>
    </div>
</div>
<!-- /Row -->