#bottom-wizard {
    margin-top: 20px;
}

.layout-example  {
    min-height: 300px;
    margin: auto;
    position: relative;
    padding: 10px;
    background-color: white;
    border-top: 5px solid #8b6cc9;
}

.layout-example:hover .layout-example-image {
    opacity: 0.3;
}

.layout-example-image {
    max-width: 160px;
    transition: .5s ease;
}

.layout-example .layout-selected {
    background-color: rgb(255, 255, 255, 0.7);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.selected-icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.layout-example .layout-example-overlay {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.70);
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	overflow: hidden;
	transition: .5s ease;
	-moz-transition: .5s ease;
	-webkit-transition: .5s ease;
	-o-transition: .5s ease;
}

.layout-example:hover .layout-example-overlay {
	opacity: 1;
}

.layout-example .layout-example-overlay .layout-example-overlay-inner {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 50%;
	padding: 25px;
}
.layout-example-overlay-inner h4 {
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
}

/* 
.layout-example-overlay-inner .social {
	margin: 0 0px 25px 0px;
	padding: 0px;
}

.layout-example-overlay-inner .social li {
	list-style: none;
	display: inline-block;
	margin: 0px 5px;
}

.layout-example-overlay-inner .social li a {
	color: #fff;
}

.layout-example-overlay-inner .social li a:hover {
	color: #ed5434;
} */

.layout-example-title {
    font-size: 1.3em;
    font-weight: bold;
    padding: 5px;
    text-transform: uppercase;
}