<div class="question-container">
    <div class="col-md-4 lhs-container">
        <div class="lhs-content">
            <figure>
                <img src="./assets/img/registration_bg.svg" alt="">
            </figure>
            <h2>Kitchen Theme</h2>
            <p>Choose kitchen theme.</p>
        </div>
    </div>
    <div class="col-md-8 rhs-container text-center">
        <div class="step">
            <h3 class="main_question">
                <strong>3/4</strong>Please select kitchen theme</h3>
            <div class="row">
                <div class="col-xs-10 col-sm-4 form-group radio_input">
                    <label>
                        <a class="img1" href="./assets/img/option1.jpg">
                            <img src="./assets/img/option1.jpg" (click)="setSelectedTheme(5, 'theme1');" class="img-theme">
                            <div *ngIf="selectedThemename=='theme1'" class="theme-selected">
                                <i class="fas fa-4x fa-check-circle selected-icon"></i>
                            </div>
                        </a>
                    </label>
                </div>
                <div class="col-xs-10 col-sm-4 form-group radio_input">
                    <label>
                        <a class="img1" href="./assets/img/option2.jpg">
                            <img src="./assets/img/option2.jpg" (click)="setSelectedTheme(6, 'theme2');" class="img-theme">
                        </a>
                        <div *ngIf="selectedThemename=='theme2'" class="theme-selected">
                            <i class="fas fa-4x fa-check-circle selected-icon"></i>
                        </div>
                    </label>
                </div>
                <div class="col-xs-10 col-sm-4 form-group radio_input">
                    <label>
                        <a class="img1" href="./assets/img/option3.jpeg">
                            <img src="./assets/img/option3.jpeg" (click)="setSelectedTheme(7, 'theme3');" class="img-theme">
                        </a>
                        <div *ngIf="selectedThemename=='theme3'" class="theme-selected">
                            <i class="fas fa-4x fa-check-circle selected-icon"></i>
                        </div>
                    </label>
                </div>
            </div>


            <!-- <div class="col-xs-10 col-sm-6 form-group radio_input">
                        <label>
                            <input type="radio" value="6" name="satisfaction" class="icheck required" [checked]="selectedThemename=='theme2'" (click)="setSelectedTheme($event,'theme2')">
                            <img src="./assets/img/option2.jpg" class="img-theme">
                        </label>
                    </div>
                    <div class="row">
                        <div class="col-xs-10 col-sm-6 form-group radio_input">
                            <label>
                                <input type="radio" value="7" name="satisfaction" class="icheck required" [checked]="selectedThemename=='theme3'" (click)="setSelectedTheme($event,'theme3')">
                                <img src="./assets/img/option3.jpg" class="img-theme"> </label>
                        </div>
                    </div> -->
            <!-- /row -->
        </div>
        <!-- /step-->


        <!-- /step-->
        <div id="bottom-wizard">
            <button type="button" name="backward" class="backward" [routerLink]="['/home/size']">Previous </button>
            <button type="button" name="forward" class="forward" (click)="goNext(4)">Next/Skip</button>

        </div>
    </div>
</div>