<div class="question-container">
    <div class="col-md-4 lhs-container">
        <div class="lhs-content">
            <figure>
                <img src="./assets/img/registration_bg.svg" alt="">
            </figure>
            <h2>Kitchen Theme</h2>
            <p>Choose kitchen theme.</p>
        </div>
    </div>
    <div class="col-md-8 rhs-container text-center">
        <div id="wizard_container">
            <!-- /top-wizard -->
            <form name="example-1" id="wrapped" method="POST">
                <!-- Leave for security protection, read docs for details -->
                <div id="middle-wizard1">

                    <div class="step">
                        <h3 class="main_question">
                            <strong>3/4</strong>Please select kitchen theme</h3>
                        <div class="row">
                            <div class="col-xs-10 col-sm-6 form-group radio_input">
                                <label>
                                    <input type="radio" value="5" name="satisfaction" class="icheck required" [checked]="selectedThemename=='theme1'" (click)="setSelectedTheme($event,'theme1')">
                                    <img src="./assets/img/option1.jpg" class="img-theme">
                                </label>
                            </div>
                            <div class="col-xs-10 col-sm-6 form-group radio_input">
                                <label>
                                    <input type="radio" value="6" name="satisfaction" class="icheck required" [checked]="selectedThemename=='theme2'" (click)="setSelectedTheme($event,'theme2')">
                                    <img src="./assets/img/option2.jpg" class="img-theme">
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-10 col-sm-6 form-group radio_input">
                                <label>
                                    <input type="radio" value="7" name="satisfaction" class="icheck required" [checked]="selectedThemename=='theme3'" (click)="setSelectedTheme($event,'theme3')">
                                    <img src="./assets/img/option3.jpg" class="img-theme"> </label>
                            </div>
                        </div>
                        <!-- /row -->
                    </div>
                    <!-- /step-->


                    <!-- /step-->
                </div>
                <!-- /middle-wizard -->
                <div id="bottom-wizard">
                    <button type="button" name="backward" class="backward" [routerLink]="['/home/size']">Previous </button>
                    <button type="button" name="forward" class="forward" (click)="goNext(4)">Next/Skip</button>

                </div>
                <!-- /bottom-wizard -->
            </form>
        </div>
        <!-- /Wizard container -->
    </div>
</div>