
.header {
    height: 10vh;
}

.header .logo-image {
    width: 110px;
}

/* Intoduction section */
.introduction {
    min-height: 90vh;
}

.introduction #dark-overlay {
    position: relative;
	vertical-align: middle;
	text-align: center;
    background: rgba(0, 0, 0, 0.4);
    height: 90vh;
}

.introduction .align-vertical-center {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: 30%;
}

.introduction h1 {
	color: #fff;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 42px;
	margin-bottom: 0;
}

.introduction p {
	color: #fff;
	font-size: 24px;
	font-weight: 300;
}

.get-started-btn {
    width: 200px;
    background: #f6a332;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
}

.how_we_work {
    min-height: 100vh;
    padding-top: 40px;
    background: #ffe3c1;
}

.how_we_work .title {
    margin-bottom: 30px;
}

.how_we_work .circle {
    width: 150px;
    height: 150px;
    line-height: 150px; 
    border-radius: 100px;
    margin: 0 auto;
    background: #f6a332;
}

.how_we_work .circle .my-icon {
    vertical-align: middle;
    color: white;
}

/* .how_we_work .bg-1 {
    background: #f6a332;
}

.how_we_work .bg-2 {
    background: #f6a332;
}

.how_we_work .bg-3 {
    background: #f6a332;
}

.how_we_work .bg-4 {
    background: #f6a332;
} */

.get-started-btn-2 {
    margin-top: 40px;
    padding-bottom: 40px;
}

.layout-designer {
    min-height: 100vh;
    /* background-color: #f0f8ff; */
}

.contact-us {
    height: 100vh;
}

.our_work {
    background-color: #ffe4c1;
    height: 100vh;
    position: relative;
}

.our_work .container {
    height: 100vh;
}

.our_work .main_title {
    margin-top: 30px;
}

.footer-container {
    /* height: 10vh; */
    /* position: absolute;
    bottom: 0;
    width: 100%; */
}
.footer-container a {
    color: #777;
    text-decoration: none;
    margin-right: 15px;
}

.footer-container a:after {
    content: "|";
    font-weight: 300;
    position: relative;
    left: 9px;
}

.footer-container a:last-child:after {
    content: "";
}