	<section class="parallax_window_in" data-parallax="scroll" style='background-image: url("./assets/img/sub_header_about.jpg");' >
		<div id="sub_content_in">
			<h1>Infurgo Designer</h1>
			<p>"Design Your Dream Kitchen in Three Simple Steps"</p>
      <button type="button" class="btn btn-outline-primary" (click)="getStarted();">Get Started</button>
		</div>
	</section>
	<main id="general_page">
		<div class="container_styled_1">
			<div class="container margin_60_35">
				<div class="row">
					<div class="col-md-12">
						<h2 class="nomargin_top text-center">How We Work</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3  text-center">
						<img src="./assets/img/htw1.png" alt="">
						<h3 >Provide Your Choices</h3>
					</div>
					<div class="col-md-3  text-center">
						<img src="./assets/img/htw2.png" alt="">
						<h3 >Make Payment</h3>
					</div>
					<div class="col-md-3  text-center">
						<img src="./assets/img/htw3.png" alt="">
						<h3 >Collaborate with designer </h3>
					</div>
					<div class="col-md-3  text-center">
						<img src="./assets/img/htw4.png" alt="">
						<h3 >Receive designs</h3>
					</div>
					
				</div>
				<!-- End row -->
			</div>
      <p class="lead styled">
        <button type="button" class="btn btn-outline-primary" (click)="getStarted();">Get Started</button>
        &nbsp;<br/>
    	</p>
		</div>
		<div class="container margin_60">
			<h2 class="main_title"><em></em>Infurgo Designers Work</h2>
			<p class="lead styled">
				Some of our completed projects in detail
			</p>
			<!--Team Carousel -->
			<div class="row">
				<div class="owl-carousel owl-theme team-carousel">

					<div class="team-item">
						<div class="team-item-img">
							<img src="./assets/img/team/team-1.png" alt="">
							<div class="team-item-detail">
								<div class="team-item-detail-inner">
									<h4>Mitchell Young</h4>
									<p>Similique sunt culpa qui officia deserunt mollitia animi dolorum fuga.</p>
									<ul class="social">
										<li><a href="#0"><i class="icon-facebook"></i></a>
										</li>
										<li><a href="#0"><i class="icon-twitter"></i></a>
										</li>
										<li><a href="#0"><i class="icon-google"></i></a>
										</li>
										<li><a href="#0"><i class="icon-linkedin"></i></a>
										</li>
									</ul>
									<a href="trainer-profile.html" class="btn_1 white">View Detail</a>
								</div>
							</div>
						</div>
						<div class="team-item-info">
							<h4>Mitchell Young</h4>
							<p>CEO</p>
						</div>
					</div>

					<div class="team-item">
						<div class="team-item-img">
							<img src="./assets/img/team/team-2.png" alt="">
							<div class="team-item-detail">
								<div class="team-item-detail-inner">
									<h4>Ronald Green</h4>
									<p>Similique sunt culpa qui officia deserunt mollitia animi dolorum fuga.</p>
									<ul class="social">
										<li><a href="#0"><i class="icon-facebook"></i></a>
										</li>
										<li><a href="#0"><i class="icon-twitter"></i></a>
										</li>
										<li><a href="#0"><i class="icon-google"></i></a>
										</li>
										<li><a href="#0"><i class="icon-linkedin"></i></a>
										</li>
									</ul>
									<a href="trainer-profile.html" class="btn_1 white">View Detail</a>
								</div>
							</div>
						</div>
						<div class="team-item-info">
							<h4>Ronald Green</h4>
							<p>Business strategy</p>
						</div>
					</div>

					<div class="team-item">
						<div class="team-item-img">
							<img src="./assets/img/team/team-3.png" alt="">
							<div class="team-item-detail">
								<div class="team-item-detail-inner">
									<h4>Carl Peppard</h4>
									<p>Similique sunt culpa qui officia deserunt mollitia animi dolorum fuga.</p>
									<ul class="social">
										<li><a href="#0"><i class="icon-facebook"></i></a>
										</li>
										<li><a href="#0"><i class="icon-twitter"></i></a>
										</li>
										<li><a href="#0"><i class="icon-google"></i></a>
										</li>
										<li><a href="#0"><i class="icon-linkedin"></i></a>
										</li>
									</ul>
									<a href="trainer-profile.html" class="btn_1 white">View Detail</a>
								</div>
							</div>
						</div>
						<div class="team-item-info">
							<h4>Carl Peppard</h4>
							<p>General Manager</p>
						</div>
					</div>

					<div class="team-item">
						<div class="team-item-img">
							<img src="./assets/img/team/team-4.png" alt="">
							<div class="team-item-detail">
								<div class="team-item-detail-inner">
									<h4>Sandra Bullock</h4>
									<p>Similique sunt culpa qui officia deserunt mollitia animi dolorum fuga.</p>
									<ul class="social">
										<li><a href="#0"><i class="icon-facebook"></i></a>
										</li>
										<li><a href="#0"><i class="icon-twitter"></i></a>
										</li>
										<li><a href="#0"><i class="icon-google"></i></a>
										</li>
										<li><a href="#0"><i class="icon-linkedin"></i></a>
										</li>
									</ul>
									<a href="trainer-profile.html" class="btn_1 white">View Detail</a>
								</div>
							</div>
						</div>
						<div class="team-item-info">
							<h4>Sandra Bullock</h4>
							<p>Customer support</p>
						</div>
					</div>

				</div>
			</div>
			<!--End Team Carousel-->
		</div>
		<!-- End container -->
	</main>