.question-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
}
.question-container h4 {
    margin-top: 0;
}